<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>destination</key>
	<string>export</string>
	<key>method</key>
	<string>enterprise</string>
	<key>signingStyle</key>
	<string>automatic</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.tencent.RaftKitDemo.db</key>
		<string>56fff6c0-2f0a-4759-a6f7-8bd06f1541aa</string>
	</dict>
	<key>teamID</key>
	<string>HKB8WPFBR9</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
